PUBLIC_ADSENSE_CLIENT_ID=ca-pub-XXXXXXXXXXXXXXXX
PUBLIC_ADSENSE_SLOT_ARTICLE_MID=XXXXXXXXXX
PUBLIC_ADSENSE_SLOT_ARTICLE_BOTTOM=XXXXXXXXXX
PUBLIC_ADSENSE_SLOT_TOP=XXXXXXXXXX
PUBLIC_AMAZON_ASSOCIATE_ID=yoursite-22
